server {
    listen 80;

    location /healthz {
        access_log off;
        return 200 "OK\n";
    }

    include /usr/local/nginx/conf/auth_*.conf;
    
    location /api{
        proxy_pass ${BACKEND_URL};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location /{
        proxy_pass ${FRONTEND_URL};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}